---
import Layout from "../../layouts/Layout.astro";
import { formatDate, formatMarkdown } from "../../utils";
import BackButton from "../../components/BackButton.astro";

export async function getStaticPaths() {
  const strapiUrl = import.meta.env.STRAPI_URL;

  const response = await fetch(
    `${strapiUrl}/api/posts?populate[author][populate][0]=bioImage&populate[category]=true&populate[featuredImage]=true`
  );

  const { data } = await response.json();

  return data.map((post) => ({
    params: { slug: post.attributes.slug },
    props: { post },
  }));
}

const { post } = Astro.props;

const strapiMediaUrl = import.meta.env.STRAPI_MEDIA_URL || 'https://passionate-dance-c4d5fc8044.media.strapiapp.com';

const imageUrl = post.attributes.featuredImage?.data?.attributes?.url
  ? `${strapiMediaUrl}${post.attributes.featuredImage.data.attributes.url}`
  : '/placeholder-image.jpg';

const authorImageUrl = post.attributes.author?.data?.attributes?.bioImage?.data?.attributes?.url
  ? `${strapiMediaUrl}${post.attributes.author.data.attributes.bioImage.data.attributes.url}`
  : '/placeholder-author-image.jpg';

const { title, content, publishedAt } = post.attributes;
const author = post.attributes.author.data?.attributes;
const category = post.attributes.category.data?.attributes;

const formattedDate = formatDate(publishedAt);
const formattedContent = await formatMarkdown(content);
---

<Layout title={title}>
  <div class="container mx-auto">
    <BackButton />
    <div class="my-4 text-center">
      <h1 class="text-center text-4xl leading-tight text-gray-900 my-4 font-bold">
        {title}
      </h1>
      <div class="text-gray-500 flex justify-center items-center space-x-2">
        <span class="flex space-x-2 items-center overflow-hidden">
          <img
            class="inline-block h-8 w-8 rounded-full ring-2 ring-white"
            src={authorImageUrl}
            alt="author picture"
          />
          <p class="font-medium text-xs text-gray-600 cursor-pointer">
            {author?.name}
          </p>
        </span>
        <span>&middot;</span>
        <span>{formattedDate}</span>
        <span>&middot;</span>
        <span>{category?.name}</span>
      </div>
    </div>
    <div class="rounded-md h-56 w-full overflow-hidden">
      <img
        class="object-cover w-full h-full"
        src={imageUrl}
        alt={title}
      />
    </div>
    <article class="prose max-w-full w-full my-4">
      <div class="rich-text" set:html={formattedContent} />
    </article>
  </div>
</Layout>