---
interface Props {
  title: string;
  body: string;
  href: string;
  image: string;
  authorImage: string;
  authorName: string;
}

const { href, title, body, image, authorImage, authorName } = Astro.props;
---

<div class="rounded-md overflow-hidden shadow-sm p-4 transition-transform h-full">
  <a href={href} class="flex flex-col h-full">
    <div class="rounded-md h-48 w-full overflow-hidden mb-4">
      <img class="object-cover w-full h-full" src={image} alt={title}>
    </div>
    <div class="flex-grow">
      <h2 class="my-2 font-bold text-xl text-gray-900">{title}</h2>
      <p class="my-2 text-gray-700 line-clamp-3">{body}</p>
    </div>
    <div class="flex justify-between mt-4 items-center">
      <div class="flex space-x-2 items-center overflow-hidden">
        <img class="inline-block h-8 w-8 rounded-full ring-2 ring-white" src={authorImage} alt={`${authorName}'s picture`}>
        <p class="font-medium text-xs text-gray-600 cursor-pointer">
          {authorName}
        </p>
      </div>
      <div class="inline-flex rounded-md">
        <span class="inline-flex items-center justify-center px-5 py-2 border border-transparent text-base font-medium rounded-md text-white bg-yellow-500 hover:bg-yellow-400">
          Read article
        </span>
      </div>
    </div>
  </a>
</div>